@import url('https://fonts.googleapis.com/css?family=VT323&display=swap')
$family-sans-serif: "Google Sans", sans-serif
$primary: #5F5CFF
.ticker
    background-color: black
    padding: 20px 0
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    &::-webkit-scrollbar
        display: none
    &__tick
        flex: 0 0 auto
        padding: 0 2.5%
        font-family: "VT323", monospace
        font-size: 1.5rem
        color: orange
        &__display
            &__positive
                color: #00FF00
            &__negative
                color: red
.navbar
    &__logo
        height: 90px
    &__about
        min-width: 300px
        padding: 10px
        color: black
    &__market
        &__open
            color: green
        &__closed
            color: red
    &__settings
        align-items: center !important
        &__mobile
            display : none
        @media screen and (max-width: 1024px)
            color: $primary
            margin: 10px
            &__mobile
                font-size: 1.25rem
                color: $primary
                align-self: center
                justify-self: center
                display: initial
@import "../../node_modules/bulma/bulma.sass"